krsu.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="checker" type="xs:string" />
        <xs:element name="interactor" type="xs:string" />
        <xs:element name="problem" type="xs:string" />
        <xs:element name="memorylimit" type="xs:unsignedInt" />
        <xs:element name="timelimit" type="xs:unsignedShort" />
        <xs:element name="testversion" type="xs:unsignedByte" />
        <xs:element name="runtype" type="xs:unsignedByte" />
        <xs:element maxOccurs="unbounded" name="group">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="points" type="xs:unsignedByte" use="required" />
            <xs:attribute name="prereq" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="test">
          <xs:complexType>
            <xs:attribute name="input" type="xs:string" use="required" />
            <xs:attribute name="output" type="xs:string" use="required" />
            <xs:attribute name="groupid" type="xs:unsignedByte" use="required" />
            <xs:attribute name="points" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>